@use '../base/theme';
@use '../base/function';
@use '../base/variables' as var;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin button {
  border-radius: var.$pill;
  padding-block: function.toRem(6);
  padding-inline: function.toRem(20);
  transition: var.$transition;
  text-align: center;
  cursor: pointer;
}

@mixin iris-hover {
  &:hover {
    background-color: theme.$iris-4;
    border: 1px solid theme.$iris-8;
  }
}

@mixin iris-focus {
  &:focus {
    outline: none;
    border: 1px solid theme.$iris-8;
    box-shadow: var.$shadow-iris;
  }
}

@mixin ruby-hover {
  &:hover {
    background-color: theme.$ruby-4;
    border: 1px solid theme.$ruby-8;
  }
}

@mixin ruby-focus {
  &:focus {
    outline: none;
    border: 1px solid theme.$ruby-8;
    background-color: theme.$ruby-4;
    box-shadow: var.$shadow-ruby;
  }
}

@mixin jade-hover {
  &:hover {
    background-color: theme.$jade-4;
    border: 1px solid theme.$jade-8;
  }
}

@mixin jade-focus {
  &:focus {
    outline: none;
    border: 1px solid theme.$jade-8;
    background-color: theme.$jade-4;
    box-shadow: var.$shadow-jade;
  }
}

@mixin amber-hover {
  &:hover {
    background-color: theme.$amber-4;
    border: 1px solid theme.$amber-8;
  }
}

@mixin amber-focus {
  &:focus {
    outline: none;
    border: 1px solid theme.$amber-8;
    background-color: theme.$amber-4;
    box-shadow: var.$shadow-amber;
  }
}

@mixin orange-hover {
  &:hover {
    background-color: theme.$orange-4;
    border: 1px solid theme.$orange-8;
  }
}

@mixin orange-focus {
  &:focus {
    outline: none;
    border: 1px solid theme.$orange-8;
    background-color: theme.$orange-4;
    box-shadow: var.$shadow-orange;
  }
}

@mixin button-iris {
  @include button;
  @include iris-hover;
  @include iris-focus;
  background-color: theme.$iris-3;
  border: 1px solid theme.$iris-7;
  font-size: function.toRem(14);
}

@mixin button-outline-ruby {
  @include button;
  @include ruby-hover;
  @include ruby-focus;
  background-color: transparent;
  border: 1px solid theme.$iris-7;
  font-size: function.toRem(14);
}

@mixin input {
  @include iris-focus;
  inline-size: 100%;
  display: flex;
  border-radius: 0.5rem;
  margin-block-start: 0.5rem;
  padding-inline: 0.75rem;
  padding-block: 0.75rem;
  font-size: 0.85rem;
  outline: 0;
  border: 1px solid theme.$iris-7;
  background-color: theme.$iris-12;
  font-family: theme.$font-stack;
}
