@font-face {
  font-family: 'Bespoke Sans Variable';
  src: url('/assets/fonts/BespokeSans-Variable.woff') format('woff');
  src: url('/assets/fonts/BespokeSans-Variable.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
}
