@use './theme';
@use './function';
@use './mixins';

.u-head-text {
  margin-block-start: function.toRem(20);
  font-size: function.toRem(48);
  font-weight: 800;
  line-height: 1.15;

  @media (min-width: 640px) {
    font-size: function.toRem(60);
  }
}

.u-desc-text {
  margin-block-start: function.toRem(20);
  font-size: function.toRem(18);
  max-inline-size: function.toRem(672);

  @media (min-width: 640px) {
    font-size: function.toRem(20);
  }
}

.u-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
