@use '../base/theme';
@use '../base/function';

// Button
$pill: 9999px;

// Box Shadow
$shadow-iris: 0 0 0 3.5px rgba(theme.$iris-8, 0.5);
$shadow-ruby: 0 0 0 3.5px rgba(theme.$ruby-8, 0.5);
$shadow-jade: 0 0 0 3.5px rgba(theme.$jade-8, 0.5);
$shadow-amber: 0 0 0 3.5px rgba(theme.$amber-8, 0.5);
$shadow-orange: 0 0 0 3.5px rgba(theme.$orange-8, 0.5);

// Transition
$transition: all 0.2s ease-in-out;
