@use './base' as theme;
@use './base/function';
@use './base/mixins';

////////////
// Layout //
////////////

.main {
  position: fixed;
  display: flex;
  justify-content: center;
  inline-size: 100vw;
  min-block-size: 100vh;
  padding-block-start: function.toRem(120);
  padding-block-end: function.toRem(160);
  padding-inline: function.toRem(24);
  pointer-events: none;

  @media screen and (max-width: 640px) {
    padding: 0;
  }
}

.app {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-inline-size: function.toRem(1280);
  margin-inline: auto;
  padding-inline: function.toRem(6);

  @media (min-width: 640px) {
    padding-inline: function.toRem(16);
  }
}

//////////////////
// Home section //
//////////////////

.home {
  @include mixins.flex-center;
  inline-size: 100%;
  flex-direction: column;

  &__title {
    text-align: center;
  }

  &__title--break {
    @media (max-width: 768px) {
      display: none;
    }
  }

  &__title--highlight {
    background: theme.$linear-gradient;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
  }

  &__description {
    text-align: center;
  }

  &__login {
    margin-block-start: function.toRem(32);
    font-size: function.toRem(24);
    text-align: center;

    span {
      background: theme.$linear-gradient;
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    }
  }
}
