@use '../base/' as theme;
@use '../base/function';
@use '../base/mixins';
@use '../base/variables' as var;

.nav {
  display: flex;
  justify-content: space-between;
  inline-size: 100%;
  margin-block-end: function.toRem(64);
  padding-block-start: function.toRem(12);
  padding-inline: function.toRem(8);

  &__link {
    @include mixins.flex-center;
    @include mixins.iris-focus;
    gap: function.toRem(8);
    border: 1px solid transparent;
    border-radius: 50%;
    background: theme.$iris-12;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    padding-inline: function.toRem(2);
    padding-block: function.toRem(2);

    @media (min-width: 640px) {
      border-radius: function.toRem(8);
    }

    &:hover {
      background: theme.$linear-gradient;
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    }

    &:focus {
      background: theme.$linear-gradient;
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    }
  }

  &__logo {
    object-fit: contain;
  }

  &__logo-text {
    font-size: function.toRem(18);
    letter-spacing: 0.025em;
    font-weight: 600;

    @media (max-width: 640px) {
      display: none;
    }
  }

  ///////////////////
  // Nav - Desktop //
  ///////////////////

  &__desktop {
    display: none;

    @media (min-width: 640px) {
      display: flex;
    }
  }

  &__user-actions {
    display: flex;
    gap: function.toRem(12);

    @media (min-width: 768px) {
      gap: function.toRem(20);
    }
  }

  &__create-post {
    @include mixins.flex-center;
    @include mixins.button-iris;
  }

  &__sign-out {
    @include mixins.flex-center;
    @include mixins.button-outline-ruby;
    color: theme.$iris-12;

    &:hover {
      color: theme.$ruby-12;
    }

    &:focus {
      color: theme.$ruby-12;
    }
  }

  &__profile {
    @include mixins.flex-center;
    border: 1px solid transparent;
    @include mixins.iris-focus;
    &:focus {
      border-radius: 50%;
    }
  }

  &__profile-mobile {
    @include mixins.flex-center;
    border: 1px solid transparent;
    padding-inline: function.toRem(2);
    padding-block: function.toRem(2);
    @include mixins.iris-focus;
    &:focus {
      border-radius: 50%;
    }
  }

  &__profile-image {
    @include mixins.iris-hover;
    border-radius: 50%;
    border: 1px solid theme.$iris-7;
    padding-inline: function.toRem(2);
    padding-block: function.toRem(2);
    transition: var.$transition;
    cursor: pointer;
  }

  &__sign-in {
    @include mixins.flex-center;
    @include mixins.button-outline-ruby;
    color: theme.$iris-12;
  }

  //////////////////
  // Nav - Mobile //
  //////////////////

  &__mobile {
    display: flex;
    position: relative;

    @media (min-width: 640px) {
      display: none;
    }
  }

  &__dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    inline-size: 100%;
    min-inline-size: function.toRem(210);
    margin-block-start: function.toRem(12);
    padding-block: function.toRem(20);
    padding-inline: function.toRem(20);
    border: 1px solid theme.$iris-7;
    background-color: theme.$iris-3;
    border-radius: function.toRem(8);
    gap: function.toRem(8);
  }

  &__dropdown-link {
    @include mixins.iris-focus;
    font-size: function.toRem(14);
    font-weight: 500;
    border: 1px solid transparent;
    border-radius: function.toRem(8);
    padding-inline: function.toRem(4);
    padding-block: function.toRem(2);
    transition: var.$transition;

    &:hover {
      color: theme.$iris-11;
    }
  }

  &__dropdown-sign-out {
    @include mixins.flex-center;
    @include mixins.button-outline-ruby;
    margin-block-start: function.toRem(16);
    inline-size: 100%;
    color: theme.$iris-12;
    font-weight: 600;
    background-color: theme.$ruby-3;
    border: 1px solid theme.$ruby-7;

    &:hover {
      color: theme.$ruby-12;
    }

    &:focus {
      color: theme.$ruby-12;
    }
  }
}
